.aui-wX {
	/*sets width to percentage x*/
}

.aui-helper-clearfix {
	/*clears the element*/
}

.aui-helper-hidden {
	diplay: none !important;
}

.aui-helper-hidden-accessible {
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
}

.important {
	font-weight: bold;
}

.aui-helper-reset {
	margin: 0;
	padding: 0;
	outline: 0;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	border: 0;
}

.aui-helper-unselectable, .aui-helper-unselectable * {
	-moz-user-select: none;
	-khtml-user-select: none;
}

.aui-helper-scroll-lock {
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}