a.btn, input.btn {
	cursor: pointer;
	text-decoration: none;
}

input.btn {
	border: 1px solid #00ADEF;
}

.aui-button-input, .btn, .btn-a, .btn-b, .btn-c {
	background: $orange;
	border-width: 0;
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 15px;
	text-align: center;
	vertical-align: top;

	&:hover {
		background: #EF8131;
		color: #7D342D;
	}

	&:active {
		background: $orange;
		color: #7D342D;
	}

	&.large {
		font-size: 15px;
		padding: 5px 20px;
	}

	&.style-a {
		background: #1BAAE1;

		&:hover {
			background: #0093D8;
			color: #064975;
		}

		&:active {
			background: #1BAAE1;
			color: #064975;
		}
	}

	&.style-b {
		background: #FFF;
		border: 1px solid #B2B3B6;
		color: #6D6E71;
		padding: 4px 19px;

		&:hover {
			background: #EF8131;
			color: #7D342D;
		}

		&:active {
			background: $orange;
			color: #7D342D;
		}
	}
}

.btn-content {
	display: block;
}

.btn-a {
	background-color: #00ADEF;
}

.btn-b {
	background-color: #F08000;
}

.btn-c {
	background-color: #EF000B;
}

.btn-d {
	margin: 0;
	padding: 0 4px;

	&.Community {
		background-color: #4CC417;
	}

	&.grey {
		background-color: #CCC;
	}

	&.Staff {
		background-color: #1D6799;
	}
}

.btn-a, .btn-b, .btn-c {
	&:active, &:focus, &:hover {
		color: #FFF;
	}
}

.btn *, .btn-a *, .btn-b *, .btn-c * {
	margin: 0;
}